.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
  margin-bottom: 1.5rem;
}
.responsive-bar-container {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  float: left;
  max-width: 1200px;
  margin-bottom: 1.5rem;
}
.responsive-bar-legend {
  margin-right: auto;
  margin-left: auto;
  width: 18%;
  float: right;
  max-width: 1200px;
  margin-bottom: 1.5rem;
}
.gauge {
  width: 30%;
  height: 200px;
  float: left;
  margin: 1%;
}
.radar {
  width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radar_title {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
.canvas {
  width: 100%;
  height: 10px;
  float: left;
  margin: 1%;
}