html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  margin: 2em;
  margin-top: 10px;
}
.responsive-svg-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 800px;
  margin-bottom: 1.5rem;
}
.responsive-bar-container {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  float: left;
  max-width: 1200px;
  margin-bottom: 1.5rem;
}
.responsive-bar-legend {
  margin-right: auto;
  margin-left: auto;
  width: 18%;
  float: right;
  max-width: 1200px;
  margin-bottom: 1.5rem;
}
.gauge {
  width: 30%;
  height: 200px;
  float: left;
  margin: 1%;
}
.radar {
  width: 900px;
  margin: 2em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.radar_title {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: bold;
}
.canvas {
  width: 100%;
  height: 10px;
  float: left;
  margin: 1%;
}

.radarLegend {
  margin: 1px;
  margin-right: 10px;
}
.fielsetHomeCountry{
  color:#0b8199;
  font-size: medium;
  font-weight: bold;
}
.navbarCustom {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color:#0b8199;
  margin-bottom: 20px;
}
.navbarCustom a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbarCustom li {
  padding-right:20px ;
  float: left;
}
.navbarCustom li a:hover {
  background-color: #9dcad4;}

.active {
    background-color: #9dcad4;
  }

nav ul {
  height: 200px;
  width: 100%;
}
nav ul {
  overflow: hidden;
  overflow-y: scroll;
}

/* Add a red background color to navbar links on hover */
.nav a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-check-list ul.items a:hover {
  background-color: #ddd;
}

li{
  list-style: none;
}

.licustom{list-style:circle;}

/* Show the dropdown menu on hover */
.dropdown-check-list:hover ul.items {
  display: block;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  width: 25%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: #0b8199;
  border-radius: 8px;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  color: white;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #9dcad4;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: #0b8199; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* parent container <fieldset> */
.r-pill {
  border: 0;
  padding: 0;
  margin: 0;
}

/* radio groups need a legend */
.r-pill legend {
  display: block;
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 0;
  width: 100%;
}

/*
	Optional inner wrapper (<div>) to provide additional styling.
*/
.r-pill__group {
  background: #fafafa;
  border: 1px solid #0b8199;
  border-radius: 2em;
  display: inline-block;
  padding: 0.25em;
}

.r-pill__item {
  display: inline-block;
  position: relative;
}

.r-pill input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 2px solid;
  height: 100%;
  left: 0;
  opacity: 0.00001;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.r-pill__item label {
  border-radius: 2em;
  border: 2px solid transparent;
  color: black;
  display: block;
  padding: 0.25em 0.75em;
}

.r-pill__item input:hover ~ label,
.r-pill__item label:hover {
  background: #9dcad4;
  border-color: white;
}

.r-pill[disabled] .r-pill__item input:checked + label:hover,
.r-pill__item input:checked + label {
  background: #0b8199;
  color: #fff;
}

.r-pill__item label:after {
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 2em;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none; /* 1 */
  position: absolute;
  right: 0;
  top: 0;
  transition: bottom 0.2s ease-in-out, border-color 0.2s ease-in-out,
    left 0.2s ease-in-out, right 0.2s ease-in-out, top 0.2s ease-in-out;
  /*
		1. Don't like pointer-events?
			 then use z-index: -1;
			 but we don't want this getting in the way
			 of touch / mouse clicks.
	*/
}

.r-pill__item input:focus ~ label:after {
  border-color: #2196f3;
  bottom: -0.25em;
  left: -0.25em;
  right: -0.25em;
  top: -0.25em;
}

/**
 * Disabled
 */
.r-pill[disabled],
.r-pill__item input[disabled] + label {
  opacity: 0.5;
}

.r-pill__item input[disabled] ~ label,
.r-pill__item input[disabled] ~ label:hover,
.r-pill[disabled] label:hover {
  background: transparent;
  border-color: transparent;
  cursor: not-allowed;
}

/**
 * Undo styling that makes these pills appear as
 * if they are all checked in high contrast mode.
 */
@media screen and (-ms-high-contrast: active) {
  .r-pill__item label {
    border: 0;
    margin: 2px;
  }

  .r-pill__item input:checked + label {
    border: 2px solid;
    margin: 0;
  }

  .r-pill__item input:hover ~ label,
  .r-pill__item label:hover {
    text-decoration: underline;
  }

  .r-pill[disabled] .r-pill__item label:hover,
  .r-pill[disabled] .r-pill__item input:hover ~ label {
    text-decoration: none;
  }
}

.about_section {
  width: 48%;
  /* height: 200px; */
  float: left;
  margin: 1%;
}

details > summary {
  padding: 4px;
  cursor: pointer;
  list-style-type: 'ℹ️ ';
}
.summaryclass {
  font-style: italic;

  text-decoration: underline;
  color:blue;
}
details summary::-webkit-details-marker {
  display:none;
}